[submodule "external/vecmath-cpp"]
	path = external/vecmath-cpp
	url = https://github.com/yuki12/vecmath-cpp.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
